export(daemon_list)
export(daemon_stop)
export(httd)
export(jekyll)
export(make)
export(notebook)
export(rmdv1)
export(rmdv2)
export(serve_example)
export(vign)
importFrom(httpuv,runServer)
importFrom(httpuv,service)
importFrom(httpuv,startDaemonizedServer)
importFrom(httpuv,startServer)
importFrom(httpuv,stopDaemonizedServer)
importFrom(httpuv,stopServer)
